<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPageEditorNotifications>
        <processor type="HI.Shared.DataSourceWorkflowModule.Pipeline.GetPageEditorNotifications.GetDataSourceWorkflowNotification,HI.Shared.DataSourceWorkflowModule" />
      </getPageEditorNotifications>
      <getContentEditorWarnings>
        <processor type="HI.Shared.DataSourceWorkflowModule.Pipeline.GetContentEditorWarnings.GetDataSourceWorkflowNotification,HI.Shared.DataSourceWorkflowModule" />
      </getContentEditorWarnings>
    </pipelines>
    <settings>
      <setting name="DatasourceWorkflowNotification.ShowWorkflowNoAccessMessage" value="true" />
      <setting name="DatasourceWorkflowNotification.UseHtmlInMessaging" value="true" />
    </settings>
  </sitecore>
</configuration>